h2{
    color: goldenrod;
}

body {
    font-family: 'Trebutchet MS', 'Lucida Sans Unicode', 'Lucida Grande','sans-serif';
    background-image: url("images/7962-background-color.jpg");
    background-size: auto;
    text-align: center;
    color: white;
    font-weight: bold;
}

#message-el {
    font-style: italic;
}

.button {
    background-color: goldenrod;
    color:#016f32;
    width: 150px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}